/* ===== CONTENEDOR PRINCIPAL ===== */
.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: calc(100vh - 80px);
  padding: 2rem;
  gap: 2rem;
  box-sizing: border-box;
}

/* Lado izquierdo (imagen) */
.lado-izquierdo {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lado-izquierdo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Formulario */
.formulario-registro {
  flex: 1;
  background-color: #FF5722;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario-registro h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}

/* Inputs */
form {
  display: flex;
  flex-direction: column;
}

.fila {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.fila input {
  flex: 1;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.fila select {
  flex: 1;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.terminos {
  font-size: 0.9rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

/* Botón Crear */
.boton-crear {
  background: linear-gradient(to right, #ff9800, #ffc107);
  color: white;
  border: none;
  padding: 0.9rem;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.boton-crear:hover {
  background: linear-gradient(to right, #e68900, #e0a800);
}

/* Texto final */
.texto-registro {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #000;
}

.boton-iniciarSesion {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.5rem;
}

.boton-iniciarSesion:hover {
  text-decoration: underline;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 768px) {
  .contenedor-principal {
    flex-direction: column;
    height: auto;
  }

  .formulario-registro {
    order: 1;
  }

  .fila {
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
  }

  .lado-izquierdo {
    order: 2;
    width: 100%;
    height: 200px;
  }

  .lado-izquierdo img {
    height: 100%;
  }
}
